
.table 
    .cellWrapper {
      display: flex;
      align-items: center;
    }
     .table .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
      /* .listContainer:hover{
        transform: scale(0.9);
        background-color: rgb(177, 177, 226);
    } */
  
      .table  .status {
      padding: 5px;
      border-radius: 5px;
  
      }
      .Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      .Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
   .listContainer{
    background-color:rgb(82,95,127,1);
  border-radius: 10px;}
      