/* .Widgets,
.chart,
.featured {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.Widget {
  margin-right: 20px;

  padding: 10px;
  color: #525f7f;

  border-radius: 10px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.chart {
  display: flex;
  padding: 20px;
  gap: 20px;
  padding: 25px;
  flex: 3;

  border-radius: 8%;
}
.chart .title {
  margin-bottom: 20px;
}
.chartGrid {
  stroke: lightgray;
}

.chartsdata {
  flex: 2 2;
  display: flex;
} */
/* Widgets.css */

.Widgets,
.featured {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.Widget {
  margin-right: 20px;
  margin: 20px;
  padding: 10px;
  color: #525f7f;
  border-radius: 10px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.charts data {
  flex: 2 2;
  gap: 5px;
}

.Widget .left,
.Widget .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listContainer {
  padding: 20px;
  margin: 20px;
}

.listContainer .listTitle {
  font-weight: bold;
  color: grey;
  margin-bottom: 15px;
}

.charts {
  display: flex;
  padding: 20px;
  gap: 20px;
  height: 800px;
}

.AdminContainer {
  flex: 8;
}

.chart {
  display: flex;
  padding: 20px;
  gap: 20px;
  padding: 25px;
  flex: 3;
  border-radius: 8%;
}

.chart .title {
  margin-bottom: 20px;
}

.chartGrid {
  stroke: lightgray;
}

.chartsdata {
  flex: 2 2;
  display: flex;
}
.card-user {
    margin: 0;
  }